
* {
     box-sizing: border-box;
}

body {
     font-family: 'Josefin Sans', sans-serif;
}

main {
     display: flex;
     justify-content: space-between;
     background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}


.infoSubmit {
     width: 60%;
     height: 800px;
     background-image: url("../images/bg-pattern-desktop.svg");
     background-repeat: no-repeat;
     background-size: cover;
}

.hero {
     width: 40%;
}